/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg, #4dc9df, #f0f7f8);
    text-align: center;
    padding: 20px;
}

/* Main Title */
h1 {
    margin-bottom: 20px;
    color: #01060a;
    font-style:italic;
}

/* Section Titles */
h2 {
    margin: 25px 0 10px;
    color: #030303;
}

/* Card Box */
.box {
    background: #317431;
    padding: 40px;
    margin: 20px auto;
    width: 420px;
    border-radius: 24px;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 22px rgba(75, 163, 185, 0.15);
}

/* Image */
img {
    width: 150px;
    border-radius: 10px;
    margin: 10px 0;
    pointer-events: none;
}

/* Inputs & Select */
input,
select {
    padding: 8px;
    width: 95%;
    border-radius: 10px;
    border: 1px solid #afce25;
    font-size: 14px;
    outline: none;
    transition: border 0.2s ease;
}

input:focus,
select:focus {
    border: 1px solid #1566b3;
}

/* File Input */
input[type="file"] {
    border: none;
}

/* Buttons */
button {
    padding: 9px 14px;
    background: #2793ae;
    color: rgb(206, 195, 202);
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s ease, transform 0.1s ease;
}

button:hover {
    background: #58d88d;
}

button:active {
    transform: scale(0.95);
}

/* Responsive */
@media (max-width: 480px) {
    .box {
        width: 95%;
    }
}
